body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
input{
    width: 100%;
    padding:4px ;
    padding-left: 10px;
    box-sizing: border-box;
    

}
input:hover{
    background-color: rgb(224, 248, 239);
}
.save {
    color: aliceblue;
    background-color: rgb(36, 128, 36);
    padding: 5px 12px 5px 12px;
    font-size: 1.35em;
    border: none;
    margin-top: 3.5px;
    border-radius: 3.5px;
       
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color:rgb(36, 128, 36);
}

.delete{
    color: rgb(36, 128, 36);
    background-color: white;
    margin-top: 3.5px;
    margin-left: 5px;
    border-radius: 3.5px;
    padding: 5px 12px 5px 12px;
    font-size: 1.35em;
    border-color: hsl(0, 50%, 98%);
}